.title {
  padding-left: 8px;
  display: inline-block;
  background-color: #F18F43;
  background-image: linear-gradient(45deg,
      #0f89ca 16.666%,
      #1DA2DC 20%,
      #89ca0f 83.333%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
