<h1 class="title">Experience</h1>
<div class="experience-section">
  <div class="experience">
    <div class="experience-header">
      <img src="https://i.imgur.com/b32eIME.jpg" />
      <div class="experience-title">
        <h1>Commscope</h1>
        <h2>Senior Software Engineer</h2>
      </div>
      <p class="time">Dec 2018 - Dec 2019 • 1 Year and 1 month.</p>
      <p class="location">Nuevo Leon, Mexico</p>
    </div>
    <p class="description">
      I was part of a team focused on JavaScript technologies. We worked in the
      UI of several networking and video compression hardware products. These
      pieces of hardware contained a local API made in Java installed and also
      our UI that used different HTTP methods to use and modify all the
      necessary information to configure that device.
    </p>
    <div class="technology-section">
      <button class="technology">Angular</button>
      <button class="technology">NodeJS</button>
      <button class="technology">Ionic</button>
      <button class="technology">Java</button>
    </div>
  </div>

  <div class="experience">
    <div class="experience-header">
      <img src="https://i.imgur.com/4YD2KzN.jpg" />
      <div class="experience-title">
        <h1>Accenture</h1>
        <h2>Software Engineer</h2>
      </div>
      <p class="time">Oct 2017 - Aug 2018 • 11 months.</p>
      <p class="location">Nuevo Leon, Mexico</p>
    </div>
    <p class="description">
      I worked with a global team mainly from India and Australia. We worked on
      custom Apps for Splunk, as a Full-Stack Engineer I was focused mainly in
      the development of the communication of the Splunk API to our Flask API
      and also in the UI of these applications using React.
    </p>
    <div class="technology-section">
      <button class="technology">React</button>
      <button class="technology">Python</button>
      <button class="technology">Flask</button>
      <button class="technology">Java</button>
      <button class="technology">Splunk</button>
      <button class="technology">Vagrant</button>
    </div>
  </div>

  <div class="experience">
    <div class="experience-header">
      <img src="https://i.imgur.com/fxtdhQe.png" />
      <div class="experience-title">
        <h1>Didaktron</h1>
        <h2>Junior Software Engineer</h2>
      </div>
      <p class="time">May 2016 - Oct 2017 • 1 year and 6 months.</p>
      <p class="location">Nuevo Leon, Mexico</p>
    </div>
    <p class="description">
      In my first project I was working on a open source Learning Management
      System called Chamilo our job was to change the UI with JQuery and
      Bootstrap or add some features with PHP.
    </p>
    <p class="description">
      In my second project we develop an Unity application with the use of
      Vuforia to create AR applications using the databases features that
      Vuforia have.
    </p>
    <div class="technology-section">
      <button class="technology">JavaScript</button>
      <button class="technology">PHP</button>
      <button class="technology">MySQL</button>
      <button class="technology">Unity</button>
    </div>
  </div>
</div>
