.filter-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin: 10px;
}

.filter-button {
  display: inline-block;
  margin: 10px 10px 10px 0;
  padding: 12px;
  color: #fff;
  border: none;
  border-radius: 25px;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.active {
  background-image: linear-gradient(
    45deg,
    #89ca0f 16.666%,
    #1da2dc 60%,
    #0f89ca 83.333%
  );
}

.inactive {
  background-color: rgb(223, 223, 223);
  color: rgba(0, 0, 0, 0.5);
}

.filter-button:hover {
  cursor: pointer;
  border: none;
  background-image: linear-gradient(
    45deg,
    #f05123 30.666%,
    #ee224a 55%,
    #f05561 90.333%
  );
  color: #f0e995;
}

.filter-button:active {
  background-image: linear-gradient(
    45deg,
    #b83c1a 30.666%,
    #be1c3c 55%,
    #91343c 90.333%
  );
  color: #f0e995;
  transform: translateY(1px);
}

.project-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.project-card {
  background-color: #2c303a;
  color: #fff;
  width: 250px;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
}

.project-image {
  width: 250px;
  height: 150px;
  cursor: pointer;
}

.project-card h1 {
  padding: 16px;
  margin: 0;
  font-size: 130%;
  color: #fff;
}

.project-card h2 {
  padding: 16px;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
  line-height: 16px;
  color: #c7c9c9;
}

.project-card h3 {
  padding: 16px;
  padding-bottom: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
  line-height: 16px;
  color: #fff;
}

.project-description {
  height: 50px;
}

hr {
  display: block;
  margin: 0 8px;
  height: 0px;
  border: 0;
  border-top: 1px solid #ddd;
  padding: 0;
}

.technology-section {
  padding: 8px 16px;
  height: 70px;
}

.technology-button {
  display: inline-block;
  margin: 5px 5px 5px 0;
  padding: 6px;
  background-color: #131417;
  color: #fff;
  border: none;
  border-radius: 15px;
  outline: none;
  font-size: 12px;
}

.technology-button p {
  margin: 0px 2px;
}

.url-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.url-section a {
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  text-decoration: none;
  border-bottom: 1px solid #2c303a;
  color: #fff;
  display: inline-block;
  -webkit-tap-highlight-color: transparent;
}

.url-section a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #ddd;
  transition: width 0.5s;
  background-image: linear-gradient(
    45deg,
    #0f89ca 16.666%,
    #1da2dc 20%,
    #89ca0f 83.333%
  );
  background-size: 100%;
  background-repeat: repeat;
  -webkit-text-fill-color: transparent;
}

.url-section a:hover::after {
  width: 100%;
}

.project-dialog mat-dialog-content {
  padding: 0 !important;
  background-color: red;
}

@media only screen and (max-width: 1020px) {
  .project-section {
    justify-content: center;
  }
}

@media only screen and (min-width: 2000px) {
  .filter-button {
    margin: 16px 16px 16px 0;
    padding: 18px;
    border-radius: 35px;
    font-size: 180%;
  }

  .project-card {
    width: 500px;
  }

  .project-description {
    height: 120px;
  }

  .technology-section {
    height: 140px;
  }

  hr {
    border-top: 2px solid #ddd;
  }

  .project-image {
    width: 500px;
    height: 300px;
  }

  .project-card h1 {
    font-size: 220%;
    padding: 32px;
    padding-left: 16px;
  }

  .project-card h2,
  .project-card h3 {
    line-height: 1.6;
    font-size: 180%;
  }

  .technology-button {
    margin: 10px 10px 10px 0;
    padding: 12px;
    border-radius: 30px;
    font-size: 150%;
  }

  .url-section {
    margin: 1em;
  }

  .url-section a {
    font-size: 180%;
  }
}

@media only screen and (min-width: 3000px) {
  .filter-button {
    margin: 20px 20px 20px 0;
    padding: 22px;
    border-radius: 42px;
    font-size: 225%;
  }

  .project-card {
    width: 625px;
  }

  .project-description {
    height: 150px;
  }

  .technology-section {
    height: 180px;
  }

  hr {
    border-top: 4px solid #ddd;
  }

  .project-image {
    width: 625px;
    height: 375px;
  }

  .project-card h1 {
    font-size: 275%;
    padding: 40px;
  }

  .project-card h2,
  .project-card h3 {
    font-size: 225%;
  }

  .technology-button {
    margin: 12px 12px 12px 0;
    padding: 14px;
    border-radius: 37px;
    font-size: 185%;
  }

  .url-section a {
    font-size: 225%;
    padding: 16px 0;
  }
}
