<h1 class="title"> Contact</h1>
<div class="contact-card">
  <h2> I’m in an active job search and would be ready to start as soon as I’m offered a position that’s a good fit for
    my skills and career.</h2>
  <div class="contact-section">
    <p>Email:</p>
    <fa-icon [icon]="faAddressCard" size="1x" class="contact-icon"></fa-icon>
    <a href="mailto: luis_hermida@pm.me">
      luis_hermida@pm.me
    </a>
  </div>
  <div class="contact-section">
    <p>LinkedIn:</p>
    <fa-icon [icon]="faLinkedin" size="1x" class="contact-icon"></fa-icon>
    <a href="https://www.linkedin.com/in/luishn94/">
      luishn94
    </a>
  </div>
</div>
